/* COMMON */
.row {
  max-width: 992px;
  margin: 0 auto;
  padding-top: 30px;
}
.container{
  width: 100%;
}

.bg-grey {
  background-color: #f9f9f9;
}

img {
  height: 150px;
  width: auto;
}

#lezioni,
#steps,
#why{
  text-align: center;
}

.padd-20{
  padding: 20px;
}

h3{
  padding: 10px 0;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin: 0 auto;
}

/* BLOCCO PERCHE */
#why .row img {
  height: 100px;
  width: auto;
  background-color: #428bca;
  border-radius: 50%;
  padding: 20px
}

/* Media query */
@media all and (max-width: 767px) {
  img {
    height: 100px;
    width: auto;
  }

  #why .row img {
    height: 80px;
    width: auto;
  }
}


